.tooltip{
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.95);
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 1em;
  gap: 5px;
  width: 90%;
  max-width: 500px;
}
.tooltip p{
  overflow-wrap: anywhere;
}
.tooltip img{
  max-width: 30px;
  align-self: flex-start;
}