.tooltip-term{
  cursor: pointer;
}

.tooltip {
  padding: 10px;
  width: 90%;
  font-size: 20px;
  max-width: 700px;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: #131314;
  /* center the tooltip */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebe1e1;
  /* position it at an reasonable alert z-index */
  z-index: 5;
}
.tooltip h3{
  align-self: center;
}
.tooltip img{
  align-self: flex-start;
  padding: 3px;
}