.tooltip{
  z-index: 5;
  position:fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.95);
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
  gap: 1em;
}
.tooltip img{
  max-width: 60px;
  align-self: flex-start;
}