.password h5{
  background-color: #131313;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: white;
}
.password{
  text-align: center;
  background-color: pink;
  font-size: 18px;
  color: black;
}
.password div{
  padding: 5px;
}