.password h5{
  background-color: #131313;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: white;
}
.password{
  text-align: center;
  font-size: 18px;
  color: black;
  width: 100%;
}
.password-content{
  background-color: #f3ecec;
}
.pass-field{
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 5px;
}
.password .pass-gen-menu{
  color: white;
}
.pass-field-alt{
  display: flex;
  flex-direction: column;
}