@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ensure the page always takes up the whole viewport */
#root{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2d2d30;
  color: #ebe1e1;
  overflow-y:scroll;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  background-color: #1b1a1a;
  border: 0px solid transparent;
  color: #ebe1e1;
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}
input{
  border: 0px solid transparent;
  font-size: 12px;
}
.menu-arrow{
  width: 50px;
}