@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ensure the page always takes up the whole viewport */
#root{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1f;
  color: #ebe1e1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  font-size: 20px;
}
input{
  width: 50%;
  font-size: 20px;
}
select{
  height: auto;
}
.scroll{
  cursor: pointer;
  background-image: url('./Assets/scroll.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center;
}

button{
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: #131314;
  /* remove the default border */
  border: 0px solid transparent;
  color: #ebe1e1;
}
button:hover{
  background-color: #222224;
}
form{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
form div{
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-self: center;
}
input{
  background-color: #131314;
  padding: 10px;
  /* remove the default border */
  border: 0px solid transparent;

  color: #ebe1e1;
}
.menu-arrow{
  width: 50px;
}
.drop-down-menu{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #131314;
  color: #ebe1e1;
  width: 100%;
  cursor: pointer;
  justify-content: center;
}
.drop-down-opened{
  background-color: #ebe1e1;
}
.checkbox{
  height: 35px;
}