.home-greeting,
.home-info,
.pass-gen-demo,
.home-call-to-action{
  padding: 1em;
  text-align: center;
}
.home-greeting ul,
.home-call-to-action ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.home-greeting{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  text-align: center;
  min-height: 80vh;
}
.home-greeting img{
  width: 60%;
  max-width: 300px;
}
.home-greeting ul button,
.home-call-to-action button{
  background-color: transparent;
  color: white;
  border: 0px solid transparent;
  background-color: rgb(24, 23, 23);
  font-size: 18px;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 7px;
}
.home-greeting button:hover{
  background-color: rgb(106, 100, 100);
}
.home-greeting .down-arrow{
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
}
.home-greeting .down-arrow:hover{
  border-radius: 10px;
}
.home-greeting .down-arrow img{
  color: white;
  min-width: 40px;
}
.home-info{
  min-height: 120vh;
  font-size: 22px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #2d2d30;
}
.home-info p{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
}
@media screen and (width>520px) {
  .info-block-one,
  .info-block-three{
    padding-right: 20%;
  }
  .info-block-two{
    padding-left: 20%
  }
}
.pass-gen-demo{
  background-color: rgb(174, 184, 150);
  color: black;
  font-size: 20px;
}
.home-call-to-action{
  background-color: rgb(174, 184, 150);
  min-height: 20vh;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}