.reg-input{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 35px;
  font-size: 18px;
  align-items: center;
}
.pass-gen-menu{
  width: 100%;
}
.pass-gen{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: 
  "output settings"
  "info settings";
}
.pass-gen .drop-down-menu{
  display: flex;
  justify-content: center;
  width: 100%;
}

.pass-gen-output{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.pass-gen-output input{
  height: max-content;
  padding: 5px;
  width: 90%;
  max-width: 400px;
  font-size: 17px;
  border: 2px solid #131313;
}
.pass-gen-settings{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: settings;
  max-width: 500px;
  justify-self: center;
  padding: 5px;
}
.pass-gen-settings input{
  width: 100%;
  height: 30px;
}
.pass-gen{
  padding: 20px;
  background-color: #e3caee;
  color: black;
}
.pass-gen-setting{
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.drop-down-menu p,
.drop-down-menu{
  padding: 5px;
  background-color: #131313;
  height: 50px;
  display:flex;
  justify-content: center;
  font-size: 22px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
.pass-gen-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
}
.pass-gen-info table{
  background-color: #131313;
}
.pass-gen-info table td{
  padding: 5px;
}
.password-entropy-input,
.pass-gen-score{
  width: 90%;
  max-width: 500px;
}
.gen-password-button-container{
  text-align: center;
}