.pass-gen-menu,
.pass-gen,
.pass-gen-settings-wrapper,
.pass-gen-output,
.pass-gen-info,
.pass-gen-ratings,
.pass-gen-setting{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pass-gen-menu input{
  border-radius: 8px;
  font-size: 15px;
}
.pass-gen-output input,
.pass-entropy-input{
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3em;
}
.pass-gen-num-setting {
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  align-self: center;
  max-width: max-content;
}
.pass-gen-info{
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}
.pass-gen-info table *{
  border: 2px solid black;
  padding: 0.3em;
  font-weight: 500;
}
.pass-gen-ratings{
  list-style-type: disc;
}