.new-password-form h3{
  background-color: #131313;
  color: white;
}
.new-password-form{
  background-color: #f3e7cf;
  color:black;
  text-align: center;
  font-size: 20px;
  height: max-content;
}
.new-password-form div{
  padding: 5px;
}
.new-pass-heading,
.new-password-form{
  position: sticky;
  top: 0;
}