.vault{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.vault-nav{
  display: flex;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}
.vault-nav img{
  width: 30px;
}
.vault-nav .vault-buttons{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}
.vault-health{
  padding: 12px;
  background-color: #131313;
  width: max-content;
}
.vault-nav *{
  cursor: pointer;
}
.vault-nav p{
  padding: 12px;
  background-color: #131313;
  height: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;
  flex-grow: 1;
  font-size: 18px;
}
.passwords-container{
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.passwords-container h5,
.new-password-form h3,
.new-pass-heading,
.password .pass-gen-menu h3{
  padding: 20px;
  background-color: #131313;
  display:flex;
  font-size: 22px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  justify-content: center;
}
@media screen and (min-width: 681px) {
  .passwords-container h5,
  .new-password-form h3,
  .new-pass-heading,
  .password .pass-gen-menu h3 {
    height: 70px;
  }
}

@media screen and (max-width: 680px) {
  .passwords-container h5,
  .new-password-form h3,
  .new-pass-heading,
  .password .pass-gen-menu h3 {
    height: 100px;
    width: 100%;
  }
}

.new-password-form::-webkit-scrollbar-thumb,
.passwords-container::-webkit-scrollbar-thumb{
  border: 2px solid #131313;
  border-radius: 18px;
}
/* hide scroll bar */
.new-password-form::-webkit-scrollbar,
.passwords-container.passwords-container::-webkit-scrollbar{
  width: 0px; 
}
.search-vault-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
}
.search-vault-bar input{
  height: 30px;
  width: 100%;
}
.search-vault-bar input,
.new-password-form input,
.password input,
.settings-update-container input{
  height: 35px;
  padding: 5px;
  width: 90%;
  max-width: 400px;
  font-size: 17px;
  border: 2px solid #131313;
}
.passwords-container,
.new-vault-heading{
  align-items: center;
}
.passwords-container h5{
  width: 100%;
}
.new-pass-heading{
  width: 100%;
}
.vault-container{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
}
@media screen and (width<800px){
  .vault-container{
    flex-direction: column;
  }
}