.vault{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
  "nav nav"
  "passwords newpass";
  column-gap: 10px;
  height: 100vh;
}
.vault-nav{
  grid-area: nav;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.vault-nav img{
  width: 30px;
}
.vault-nav .vault-buttons{
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  align-items: center;
  font-size: 20px;
}
.vault-health{
  padding: 12px;
  background-color: #131313;
  width: max-content;
}
.vault-buttons *{
  cursor: pointer;
}
.vault-buttons p{
  padding: 12px;
  background-color: #131313;
}
.passwords-container{
  height: max-content;
  max-height: 58%;
  grid-area: passwords;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.passwords-container h5,
.new-password-form h3,
.new-pass-heading,
.password .pass-gen-menu h3{
  padding: 5px;
  background-color: #131313;
  height: 50px;
  display:flex;
  font-size: 22px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  justify-content: center;
}
.new-password-form::-webkit-scrollbar-thumb,
.passwords-container::-webkit-scrollbar-thumb{
  border: 2px solid #131313;
  border-radius: 18px;
}
/* hide scroll bar */
.new-password-form::-webkit-scrollbar,
.passwords-container.passwords-container::-webkit-scrollbar{
  width: 0px; 
}
.search-vault-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-vault-bar input{
  height: 30px;
}