.demo-login,
.logged-out{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* center the element */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-align: center;
  color: white;
  max-width: 700px;
  gap: 5px;
}