.demo-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* center the element */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}