.vault-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 1em;
  text-align: center;
}
.vault-nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.vault-nav li{
  color: white;
  border: 0px solid transparent;
  background-color: rgb(24, 23, 23);
  font-size: 18px;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 7px;
  min-height: 50px;
}
.vault-nav li *{
  background-color: transparent;
  border: 0px solid transparent;
  color: white;
  font-size: 19px;
}
.vault-nav li form input{
  background-color: white;
  color: black;
  padding-left: 0.5em;
}
.search-vault-bar{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.search-vault-bar img,
.vault-nav ul img{
  width: 20px;
}