.register{
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register form{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}